<html>
 <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="style.css">
      <link rel="stylesheet" href="jquery.progressbar.css">
      <script src="//code.jquery.com/jquery.min.js"></script>
<script src="jquery.progressbar.js"></script>


      <!-- facebook plugin -->
      <meta property="fb:app_id" content="1752624775053344" />
<meta property="fb:admins" content="100006472131871" />
<meta property="fb:admins" content="100003122771499" />
<meta property="fb:admins" content="100009793352594" />
<meta property="fb:admins" content="100003017103605" />
<meta property="fb:admins" content="100013377554008" />


<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum1"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum2"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum3"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum4"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum5"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum6"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum7"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum8"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum9"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum10"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum11"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum12"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum13"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum14"/>
<meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#forum15"/>
<meta property="og:title" content="This Page Title"/>
         <!--end of plugin-->


  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script>
   $(document).ready(function() {
  $('.button').mouseover(function() {
    $('.content').toggleClass('isOpen');
  });
});
</script>
	<style>
    @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
    .button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}
/*
@font-face {
   font-family: myFirstFont;
   src:  url('../fonts/AVENGEANCE.otf')
}
*/
@font-face {
  font-family: 'captain';
  src:url('../fonts/American Purpose Casual 01.otf')
}
/*
@font-face {
  font-family: 'spider';
  src:url('../fonts/THEAMAZINGSPIDER-MAN.otf')
}

@font-face {
  font-family: 'marvel';
  src:url('../fonts/Marvel-Italic.otf')
}

@font-face{
  font-family: 'star';
  src:url('..fonts/StarJedi.woff')
}

@font-face {
    font-family: ironman;

    	src: url('../fonts/StarJediRounded.woff') format('woff');
      font-weight: normal;
    font-style: normal;
     }
     @font-face{
       font-family: 'spider';
       src:url('../fonts/THEAMAZINGSPIDER-MAN.woff');
     }



  /* anchor as button */
   .linkbut:link, .linkbut:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
}


.linkbut:hover, .linkbut:active {
    background-color: red;
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    text-align: center;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
/*progress bar */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.center {
  color: #d6d6d6;
  text-align: center;
  margin-top: 50px;
}
.buttons {
  display: block;
  width: 100%;
  margin-top: 65px;
  text-align: center;
}
.buttons a {
  text-decoration: none;
  background-color: gray;
  padding: 8px 25px;
  color: #ffffff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.buttons a:hover {
  background-color: #cfcfcf;
}
a.next {
  margin-left: 25px;
}
a.prev {
  margin-right: 25px;
}
.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }


  .navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 100%;
}

  .navbar-body>font{
    padding-top:0px;
    padding-bottom:30px;
    padding-left:600px;


    text-align: center;
    color:#0099CC;

     font-family: myFirstFont;
    text-transform: uppercase;
    display: block;
    text-shadow:#003399 -1px 1px 0,
    #253e45 -2px 2px 0,
    #003399 -3px 3px 0,
    #003399 -4px 4px 0;
    margin: 5% auto 5%;

  }

  .example3 .navbar-brand {
    height: 80px;
    padding-left:0px;
    padding-right:0px;
    z-index: 999;
    top: 0px;
    bottom:0px;
    right:0px;
    margin-top: 0px;

  }

  .sidebar{
    font-family:ironman;
    background-color: black;
  }
   .title{
     background-color: black;
   }
   .wrapper{
     background-color: black;
   }
   ::-webkit-scrollbar {
    width: 0.25em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

</style>
<div class="container">
<div class="example3">
  <div class="navbar-brand">
<img src="itrix.png" alt="Itrix 18" align="left" >
  <div class="navbar-body">
   <font size=9> INFINITY WAR </font>
</div>
        </div>
    </div>

  </div>

   </head>

<body>
   <div class='wrapper'>
  <div class='sidebar'>
    <div class='title'>
      <span id="nameind"></span><br>Level:<span id="levelind"></span><br>
      <img src="hulk icon.jpg" class="img-circle" alt="player icon" width="94" height="110">
    </div>
    <ul class='nav'>
      <li>
        <a id="dashboard">Dashboard</a>
      </li>
      <li>
        <a id="leaderboard">Leaderboard</a>
      </li>
      <li>
        <a id="panel">Discussion panel</a>
      </li>
      <li>
        <a id="rules">Rules</a>
      </li>
      <li>
        <a id="storyline">Storyline</a>
      </li>
       <li>
        <a id="aboutus">About us</a>
      </li>
      <li>
        <a href="http://127.0.0.1:9000/logout">Logout</a>
      </li>
    </ul>
  </div>
   <div class='content' id="bgimg">
   <a class='button'></a>
   <div class="container">
   <div id="steps"></div>

</div>

<!---dashboard div-->
<div class="container">
<div class="row">
<div class="dashdiv panel-body col-md-10 col-sm-10 col-xs-12" align="left">
    <center><br>
      <h3>Dashboard</h3>
      <span id="image1div">
        <img id="questionimg1" src="" class="img-fluid">
      </span>
      <span id="image2div">
        <img id="questionimg2" src="" class="img-fluid">
      </span>
      <span id="image3div">
        <img id="questionimg3" src="" class="img-fluid">
      </span>
      <br><br>
  <form>
    <div class="col-md-10 col-sm-12 col-xs-12">
      <input type="text" id="answerbox" class="form-control form-control-lg">
    </div>
    <div class="col-md-2"><center>
      <button class="btn btn-primary" data-popup-open="popup-1" href="#" id="submitbtn">Submit</button>
    </center>
    </div>
  </form>
    <br><br>
    <p id="refreshbtn">Refresh</p>
    <button type="button" class="btn btn-primary btn-lg" data-popup-open="clue-1" id="cl1">Clue 1</button> &nbsp;
    <button type="button" class="btn btn-primary btn-lg" data-popup-open="clue-2" id="cl2">Clue 2</button> &nbsp;
    <button type="button" class="btn btn-primary btn-lg" data-popup-open="clue-3" id="cl3">Clue 3</button>
    <div class="popup" data-popup="popup-1">
    <div class="popup-inner">
      <div id="stage1">
        <div id="innerstage">
        <h2>Success !!!!</h2>
        <img id="successimage" src="">
        <p>You're correct</p>
        <button id="nextbtn">Next</button>
        </div>
        <div id="innerstage2"></div>
      </div>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>

    <div class="popup" data-popup="clue-1">
    <div class="popup-inner">
      <div id="stage1">
        <div id="innerstage">
        <h2>CLUE</h2>
        <p id="clue1"></p>
        </div>
        <div id="innerstage2"></div>
      </div>
        <a class="popup-close" data-popup-close="clue-1" href="#">x</a>
    </div>
</div>
    <div class="popup" data-popup="clue-2">
    <div class="popup-inner">
      <div id="stage1">
        <div id="innerstage">
        <h2>CLUE</h2>
        <p id="clue2"></p>
        </div>
        <div id="innerstage2"></div>
      </div>
        <a class="popup-close" data-popup-close="clue-2" href="#">x</a>
    </div>
</div>
    <div class="popup" data-popup="clue-3">
    <div class="popup-inner">
      <div id="stage1">
        <div id="innerstage">
        <h2>CLUE</h2>
        <p id="clue3"></p>
        </div>
        <div id="innerstage2"></div>
      </div>
        <a class="popup-close" data-popup-close="clue-3" href="#">x</a>
    </div>
</div>
</div>
<style>

 .dashdiv{
   padding-top:10px;
   padding-left:20px;
   padding-bottom:10px;
   padding-right:20px;
 }
</style>
</div>
<!---end dashboard-->
<!-- rules div -->
<div class="row">
<div class="rulesdiv panel-body col-md-8 col-sm-10 col-xs-12" align="left">
<div class="whiteandsize fix">
<h3>Rules</h3>
    <ol>
      <li> Rule a </li>
      <li> Rule b </li>
      <li> Rule c </li>
      <li> Rule d </li>
      <li> Rule e </li>
      <li> Rule f </li>
      <li> Rule g </li>
      <li> Rule h </li>
      <li> Rule i </li>
      <li> Rule j </li>
    </ol>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  </div>
</div>
<!-----------end rules div------->
<!-------------storyline div ---->
<div class="row">
<div class="storylinediv panel-body col-md-8 col-sm-10 col-xs-12" align="left">
  <div class="fix whiteandsize">
    <style>
      .a {
    font-family: captain;
}
</style>
    <h3>Storyline</h3>
    <p class="a"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>

<style>
.panel-body{

  border-radius: 25px;
   border: 2px solid black;
   font-family: captain;
  font-size:25;
   background-color: rgba(0,0,0,0.5);


}
/*.panel-body {
  font-family: captain;
  font-size:25;
  color:#43BFC7;
} */

</style>
</div>
<!----------end story--->
<!---discussion panel--->
<div class="paneldiv" align="left">
  <style>
  .paneldiv {
    padding-top:20px;
    font-family:captain;
     padding-left:70px;
     color:white;
     font-size:35;
  }
  </style>
  <h3>Discussion Panel</h3>
  <div class="panel panel-default" style='overflow:scroll;'>
    <div class="panel-body"  id="panel4">
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1752624775053344";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="div1"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum1" data-numposts="5"></div></div>
<div id="div2"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum2" data-numposts="5"></div></div>
<div id="div3"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum3" data-numposts="5"></div></div>
<div id="div4"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum4" data-numposts="5"></div></div>
<div id="div5"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum5" data-numposts="5"></div></div>
<div id="div6"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum6" data-numposts="5"></div></div>
<div id="div7"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum7" data-numposts="5"></div></div>
<div id="div8"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum8" data-numposts="5"></div></div>
<div id="div9"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum9" data-numposts="5"></div></div>
<div id="div10"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum10" data-numposts="5"></div></div>
<div id="div11"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum11" data-numposts="5"></div></div>
<div id="div12"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum12" data-numposts="5"></div></div>
<div id="div13"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum13" data-numposts="5"></div></div>
<div id="div14"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum14" data-numposts="5"></div></div>
<div id="div15"><div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#forum15" data-numposts="5"></div></div>

</div></div>
</div>

<!---end discussion -->
<!---------leaderboard div--------->
<div class="row">
<div class="leaderboarddiv panel-body col-md-8 col-sm-10 col-xs-12" align="left">
    <h3>Leaderboard <small>Your Ranking:<span id="rankind"></span></small></h3>
    <div class="table-responsive">
  <table border=1 id="mytable" class="table">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </table>
</div>
</div>
</div>
<div id="row">
<div id="testimonial" class="aboutusdiv col-md-12 col-sm-12 col-xs-12 hidden-phone panel-body">
    <div class="container-about">

      <div class="row-fluid">
        <div class="span3">
          <div class="person">
            <div class="image">
              <img class="img-about" alt="Jason Davis Gravatar" src="http://gravatar.com/avatar/31b64e4876d603ce78e04102c67d6144?s=180">
            </div>
            <div class="name">
              Khishorekumar BS
            </div>
            <div class="identity">
              Website Developer
            </div>
          </div>

          <blockquote>
            <p>I have been a Web Developer using <strong>PHP</strong> for around 13 years.  My favorite PHP Framework is Laravel all the way baby!!!</p>
          </blockquote>
        </div>

        <div class="span3">
          <div class="person">
            <div class="image">
              <img class="img-about" alt="Jason Davis Gravatar" src="http://gravatar.com/avatar/31b64e4876d603ce78e04102c67d6144?s=180">
            </div>
            <div class="name">
              RANJITHA P
            </div>
            <div class="identity">
              SugarCRM Developer
            </div>
          </div>

          <blockquote>
            <p>I have been developing <strong>SugarCRM</strong> modules for about 1 year now.  SugarCRM is currently one of my favorite projects </p>
          </blockquote>
        </div>

        <div class="span3">
          <div class="person">
            <div class="image">
              <img class="img-about" alt="Jason Davis Gravatar" src="http://gravatar.com/avatar/31b64e4876d603ce78e04102c67d6144?s=180">
            </div>
            <div class="name">
              SWETHA SS
            </div>
            <div class="identity">
              Magento Developer
            </div>
          </div>

          <blockquote>
            <p>I have been working with <strong>Magento eCommerce</strong> for about a year as well.  Magento is by far the hardest PHP Application I have ever had to learn and develop on.  </p>
          </blockquote>
        </div>

        <div class="span3">
          <div class="person">
            <div class="image">
              <img class="img-about" alt="Jason Davis Gravatar" src="http://gravatar.com/avatar/31b64e4876d603ce78e04102c67d6144?s=180">
            </div>
            <div class="name">
              PRIYA P
            </div>
            <div class="identity">
              WordPress Developer
            </div>
          </div>

          <blockquote>
            <p>With about 6 years under my belt as a  <strong>WordPress</strong> developer, I know the ins and outs of what it is capable of doing and how to customize it to do just about anything needed.  </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

</div>
<!----------end leaderboard-->
</div>
</div>
<script type = "text/javascript" language = "javascript">
  var prname;
   $(function() {
    //----- OPEN
    $('[data-popup-open]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
        e.preventDefault();
    });

    //----- CLOSE
    $('[data-popup-close]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

        e.preventDefault();
    });
});

   $(document).ready(function(){
  $("#refreshbtn").click(function(){
    $.ajax({
            type: "POST",
            url: "/refresh",
            success: function(jd) {
                    $('#clue1').html('<p>'+jd.cl1+'</p>')
                    $('#clue2').html('<p>'+jd.cl2+'</p>')
                    $('#clue3').html('<p>'+jd.cl3+'</p>')
                  },
                    error: function(jqXHR, textStatus, err) {
                       alert('text status '+textStatus+', err '+err)
                      }

                  });
    });
   });




$(document).ready(function(){
        $(".dashdiv").show();
        $(".rulesdiv").hide();
        $(".storylinediv").hide();
        $(".storylinediv").hide();
        $(".leaderboarddiv").hide();
        $(".paneldiv").hide();
        $(".aboutusdiv").hide();
    });
$(document).ready(function(){
    $("#dashboard").click(function(){
        $(".dashdiv").show();
        $(".rulesdiv").hide();
        $(".storylinediv").hide();
        $(".leaderboarddiv").hide();
        $(".paneldiv").hide();
        $(".aboutusdiv").hide();
    });
   $("#rules").click(function(){
        $(".dashdiv").hide();
        $(".rulesdiv").show();
        $(".storylinediv").hide();
        $(".leaderboarddiv").hide();
        $(".paneldiv").hide();
        $(".aboutusdiv").hide();
    });
   $("#leaderboard").click(function(){
        $(".dashdiv").hide();
        $(".rulesdiv").hide();
        $(".storylinediv").hide();
        $(".leaderboarddiv").show();
        $(".paneldiv").hide();
        $(".aboutusdiv").hide();
    });
   $("#storyline").click(function(){
        $(".dashdiv").hide();
        $(".rulesdiv").hide();
        $(".storylinediv").show();
        $(".leaderboarddiv").hide();
         $(".paneldiv").hide();
         $(".aboutusdiv").hide();
    });
    $("#panel").click(function(){
         $(".dashdiv").hide();
         $(".rulesdiv").hide();
         $(".storylinediv").hide();
         $(".leaderboarddiv").hide();
         $(".paneldiv").show();
         $(".aboutusdiv").hide();
     });
    $("#aboutus").click(function(){
         $(".dashdiv").hide();
         $(".rulesdiv").hide();
         $(".storylinediv").hide();
         $(".leaderboarddiv").hide();
         $(".paneldiv").hide();
         $(".aboutusdiv").show();
      });
         $(document).ready(function(){
           var leve =  <%= level %> ;
           if(leve==1){
             $("#div1").show();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==2){
             $("#div1").hide();$("#div2").show();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==3){
             $("#div1").hide();$("#div2").hide();$("#div3").show();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==4){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").show();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==5){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").show();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==6){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").show();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==7){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").show();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==8){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").show();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==9){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").show();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==10){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").show();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==11){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").show();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==12){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").show();
             $("#div13").hide();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==13){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").show();$("#div14").hide();$("#div15").hide();
           }
           else if(leve==14){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").show();$("#div15").hide();
           }
           else if(leve==15){
             $("#div1").hide();$("#div2").hide();$("#div3").hide();$("#div4").hide();
             $("#div5").hide();$("#div6").hide();$("#div7").hide();$("#div8").hide();
             $("#div9").hide();$("#div10").hide();$("#div11").hide();$("#div12").hide();
             $("#div13").hide();$("#div14").hide();$("#div15").show();
           }

         });

});
$(document).ready(function(){
    $.ajax({
            type: "POST",
            url: "/begin",
            success: function(jd) {

                    $(document).ready(function() {
                    $("#cl1").attr('disabled', 'disabled');
                      if(!(jd.cl1=="0")){
                          $("#cl1").removeAttr('disabled')}
                      });
                    $(document).ready(function() {
                    $("#cl2").attr('disabled', 'disabled');
                      if(!(jd.cl2=="0")){
                          $("#cl2").removeAttr('disabled')}
                      });
                    $(document).ready(function() {
                    $("#cl3").attr('disabled', 'disabled');
                      if(!(jd.cl3=="0")){
                          $("#cl3").removeAttr('disabled')}
                      });
                    $(document).ready(function(){
                      $('#cl1').click(function(){
                        $('#clue1').html('<p>'+jd.cl1+'</p>')
                      });
                    });
                    $(document).ready(function(){
                      $('#cl2').click(function(){
                        $('#clue2').html('<p>'+jd.cl2+'</p>')
                      });
                    });
                    $(document).ready(function(){
                      $('#cl3').click(function(){
                        $('#clue3').html('<p>'+jd.cl3+'</p>')
                      });
                    });
                     $("#successimage").attr("src",jd.successimg);
                     $('#bgimg').css("background-image", "url(/"+jd.bgimg);
                     $('#levelind').html(jd.level);
                     $('#scoreind').html(jd.scr);
                     $('#nameind').html(jd.disname);
                     prname=jd.disname;
                     if(jd.total==1)
                     {
                         $("#image1div").show();
                         $("#image2div").hide();
                         $("#image3div").hide();
                     }
                     else if(jd.total==2)
                     {
                         $("#image1div").show();
                         $("#image2div").show();
                         $("#image3div").hide();
                     }
                     else if(jd.total==3)
                     {
                         $("#image1div").show();
                         $("#image2div").show();
                         $("#image3div").show();
                     }

                },
            error: function(jqXHR, textStatus, err) {
                alert('text status '+textStatus+', err '+err)
            }
            });
    $.ajax({
                    type: "POST",
                    url: "/leaderboard",
                    success: function(docs) {
                        $('#mytable tr').not(':first').not(':last').remove();
                        var html = '';
                        var count=0;
                        $.each(docs, function (i) {
                            html += '<tr><td>' +i+ '</td><td>' + eval(JSON.stringify(docs[i].name)) + '</td><td>' + eval(JSON.stringify(docs[i].score)) + '</td></tr>';
                            if(docs[i].name==prname) $('#rankind').html(i);
                            count++;
                          });
                        $('#mytable tr').first().after(html);
                         var totalRows = count;
  var recordPerPage = 8;
  var totalPages = Math.ceil(totalRows / recordPerPage);
  var $pages = $('<div id="pages"></div>');
  for (i = 0; i < totalPages; i++) {
    $('<span class="pageNumber">&nbsp;' + (i + 1) + '</span>').appendTo($pages);
  }
  $pages.appendTo('#mytable');

  $('.pageNumber').hover(
    function() {
      $(this).addClass('focus');
    },
    function() {
      $(this).removeClass('focus');
    }
  );

  $('table').find('tbody tr:has(td)').hide();
  var tr = $('table tbody tr:has(td)');
  for (var i = 0; i <= recordPerPage - 1; i++) {
    $(tr[i]).show();
  }
  $('span').click(function(event) {
    $('#mytable').find('tbody tr:has(td)').hide();
    var nBegin = ($(this).text() - 1) * recordPerPage;
    var nEnd = $(this).text() * recordPerPage - 1;
    for (var i = nBegin; i <= nEnd; i++) {
      $(tr[i]).show();
    }
  });
                      },
                    error: function(jqXHR, textStatus, err) {
                       alert('text status '+textStatus+', err '+err)
                      }
                  });
    });
  $.get("/view", function(){
        $("#questionimg1").attr("src",'http://127.0.0.1:9000/view');
    });
  $.get("/view3", function(){
        $("#questionimg3").attr("src",'http://127.0.0.1:9000/view');
    });
   $.get("/view2", function(){
                        $("#questionimg2").attr("src",'http://127.0.0.1:9000/view2');
                       });

         $(document).ready(function() {
            $("#submitbtn").click(function(event){
                    checker();
            });
       });


         function checker()
         {
                  var txtbox = document.getElementById("answerbox");
                  txtbox.value = txtbox.value.toLowerCase("txtbox");
                  txtbox.value = txtbox.value.replace(/\s/g, "");
            $.ajax({
            type: "POST",
            url: "/next",
            data:{ answer: txtbox.value },
            success: function(jd) {

                  $(document).ready(function() {
                    $("#cl1").attr('disabled', 'disabled');
                      if(!(jd.cl1=="0")){
                      $("#cl1").removeAttr('disabled')}
                      });
                  $(document).ready(function() {
                    $("#cl2").attr('disabled', 'disabled');
                      if(!(jd.cl2=="0")){
                      $("#cl2").removeAttr('disabled')}
                      });
                  $(document).ready(function() {
                    $("#cl3").attr('disabled', 'disabled');
                      if(!(jd.cl3=="0")){
                      $("#cl3").removeAttr('disabled')}
                      })

                    $(document).ready(function(){
                      $('#cl1').click(function(){
                        $('#clue1').html('<p>'+jd.cl1+'</p>')
                      });
                    });
                    $(document).ready(function(){
                      $('#cl2').click(function(){
                        $('#clue2').html('<p>'+jd.cl2+'</p>')
                      });
                    });
                    $(document).ready(function(){
                      $('#cl3').click(function(){
                        $('#clue3').html('<p>'+jd.cl3+'</p>')
                      });
                    });
                  if(jd.auth==0)
                  {  $("#innerstage").hide();
                     $("#innerstage2").show();
                     $('#innerstage2').html('<p>Incorrect Answer</p><img src="'+jd.img+'"><p>Try again</p>');
                  }
                  else
                  { prelevel=2;

                    $("#successimage").attr("src",jd.successimg);
                    $("#innerstage").show();
                    $("#innerstage2").hide();

                    $.get("/view", function(){
                          $("#questionimg1").attr("src",'http://127.0.0.1:9000/view');
                    });
                    $.get("/view2", function(){
                          $("#questionimg2").attr("src",'http://127.0.0.1:9000/view2');
                    });
                    $('#levelind').html(jd.level);
                    $('#scoreind').html(jd.scr);
                    if(jd.total==1)
                     {
                         $("#image1div").show();
                         $("#image2div").hide();
                         $("#image3div").hide();
                     }
                     else if(jd.total==2)
                     {
                         $("#image1div").show();
                         $("#image2div").show();
                         $("#image3div").hide();
                     }
                     else if(jd.total==3)
                     {
                         $("#image1div").show();
                         $("#image2div").show();
                         $("#image3div").show();
                     }

                    $('#bgimg').css("background-image", "url(/"+jd.bgimg);
                    $('#answerbox').val('');
                    $("#nextbtn").click(function(){
                      $("#innerstage").hide();
                      $("#innerstage2").show();
                    $('#innerstage2').html('<img src="'+jd.img+'"><br>');
                     switch(jd.level)
                     {
                        case 2:$('#innerstage2').append('You have unlocked Ant man.<br> He sees the shield secret broadcast.He knows what to do.');break;
                        case 3:$('#innerstage2').append('You have unlocked Falcon.<br> "We have to regroup the Avengers" said Ant man. Falcon and Ant man immediately set off to Avengers facility');break;
                        case 4:$('#innerstage2').append('You have unlocked Black Widow. <br> Its like hell in Avengers mansion. It took a lot of sheild agents to defend the mansion.But the mansion stands only because of Black Widow.
                        But Hawkeye is struck inside the mansion.'He needs help'says Black Widow. They suit up and get ready for war ' );break;
                        case 5:$('#innerstage2').append('You have unlocked Hawkeye.<br> "Thank god you came or else it would have been dirty here."said Hawkeye. "The four of us wont be enough. We need to bring the big guys in." exclaimed Falcon.
                        Meanwhile Wakanda is in heavy seige by Chitauri under the most powerful general of Thano - <b>the Black dwarf<b>');break;
                        case 6:$('#innerstage2').append('</b> <br> Hawkeye unlocked<br> <b> Soulgem retrieved</b> "Call Tony Start!!!" commanded Black Panther possesing the Soulgem and his hand covered with blood of black dwarf on seeing the emergency broadcast of SHIELD.
                        <br> Meanwhile the intellectual hand of Thanos,<b> Ebony Maw </b> captured the island of Manhattan. The US Airforce along with <b> War machine</b> are trying to win it back. ');break;
                        case 7:$('#innerstage2').append('Warmachine unlocked.  <br> <b> Spidey moves as many as people to safety . His shield batch beeps and he sees the emergency broadcast.');break;
                        case 8:$('#innerstage2').append('Spider man unlocked.<br> Deadpool :"Man its so boring right.... No the correct place to break the fourth wall , but that is my habbit. Here, get the orb for free man! and dont forgot the man with the mark "');break;
                        case 9:$('#innerstage2').append('<b>Orb unlocked . <br> Deadpoolunlocked</b> Meanwhile Scarlet witch and Vision are attacked by surprise by <Corvius Glave</b>. He killed Vision and took the mind gem. She is very angry now. ');break;
                        case 10:$('#innerstage2').append('<b>Scarlett witch Unlocked.</b><br> You know what happens when Scarlet is angry. She kills Corvious and takes back the gem. ');break;
                        case 11:$('#innerstage2').append('<b> Mind gem is unlocked. Vision resurrects.</b>  D  ');break;
                        case 12:$('#innerstage2').append('level 11 to 12');break;
                        case 13:$('#innerstage2').append('level 12 to 13');break;
                        case 14:$('#innerstage2').append('level 13 to 14');break;
                        case 15:$('#innerstage2').append('level 14 to 15');break;
                     }

                    });
                  }

                  $.ajax({
                    type: "POST",
                    url: "/leaderboard",
                    success: function(docs) {

                        $('#mytable tr').not(':first').not(':last').remove();
                        $( "#pages" ).remove();
                        var count=0;
                        var html = '';
                        $.each(docs, function (i) {
                            html += '<tr><td>' + eval(JSON.stringify(docs[i].name)) + '</td><td>' + eval(JSON.stringify(docs[i].score)) + '</td></tr>';
                            count++;
                          });
                        $('#mytable tr').first().after(html);
                         var totalRows = count;
  var recordPerPage = 8;
  var totalPages = Math.ceil(totalRows / recordPerPage);
  var $pages = $('<div id="pages"></div>');
  for (i = 0; i < totalPages; i++) {
    $('Pages: <span class="pageNumber">&nbsp;' + (i + 1) + '</span>').appendTo($pages);
  }
  $pages.appendTo('#mytable');

  $('.pageNumber').hover(
    function() {
      $(this).addClass('focus');
    },
    function() {
      $(this).removeClass('focus');
    }
  );

  $('table').find('tbody tr:has(td)').hide();
  var tr = $('table tbody tr:has(td)');
  for (var i = 0; i <= recordPerPage - 1; i++) {
    $(tr[i]).show();
  }
  $('span').click(function(event) {
    $('#mytable').find('tbody tr:has(td)').hide();
    var nBegin = ($(this).text() - 1) * recordPerPage;
    var nEnd = $(this).text() * recordPerPage - 1;
    for (var i = nBegin; i <= nEnd; i++) {
      $(tr[i]).show();
    }
  });
                      },
                    error: function(jqXHR, textStatus, err) {
                       alert('text status '+textStatus+', err '+err)
                      }
                  });
              },
            error: function(jqXHR, textStatus, err) {
                //show error message
                alert('text status '+textStatus+', err '+err)
            }
            });
          }
          $('#answerbox').keypress(function(event){

              var keycode = (event.keyCode ? event.keyCode : event.which);
              if(keycode == '13'){
                checker();
              }
            });
$('#steps').progressbar({
  // ~: failed
  // @: current
  steps: ['Setp 1', '~Step 2 Failed', '@Step 3 ( Current )', 'Step 4',]
});


</script>
</body>
</html>
